body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width: auto;
}

select.select-mini {
    height: auto;
    line-height: 14px;
    width: auto;
}

.entry:not(:first-of-type)
{
    margin-top: 10px;
}

td.details-control {
    background: url('../images/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../images/details_close.png') no-repeat center center;
}

form#configuracoes button, #buttonConfig  {
    margin-left: 47%;
}

.centraliza_texto {
    text-align: center;
}

textarea {
    max-width: 100%;
}

.white, .white a {
    color: #fff;
    background: transparent;
    font-size: 1.2em;
}
.white:hover {
    color: #fff;
}

table.dataTable tbody th.dt-body-center,
table.dataTable tbody td.dt-body-center {
    text-align: center;
}

.toggleFilterButton {
    width: 75px;
}

table#detail {
    border-collapse: collapse;
    min-width: 100%;
    background-color: #fff;
}

th#detail, td#detail {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

tr#detail:hover {
    background-color: #ebebe0;
}

tr#detail:nth-child(even) {
    background-color: #f2f2f2;
}

@media screen and (min-width: 800px) {
    .chart {
        width: 800px;
        height: 1600px;
    }
}

@media screen and (min-width: 1024px) {
    .chart {
        width: 1024px;
        height: 1600px;
    }
}

@media screen and (min-width: 1200px) {
    .chart {
        width: 1200px;
        height: 1600px;
    }
}

#map {
    width: 100%;
    height: 500px;
}

#margemOcorrencia {
    margin-left: 1%;
}

.nav li:hover {
    color: #FFFFFF;
    background-color: #00b3b3;
    transition: all 0.8s;
}

.espacamento {
    margin-right: 2%;
    margin-left: 2%;
}

/* Footer */

html {
    position: relative;
    min-height: 90%;
}

footer#rodape {
    text-align: center;
    border-top: 1.3px dotted #000;
    width: 100%;
    background-color: #f2f2f2;
    position: absolute;
    bottom: 0;
    height: 20px;
}

footer#rodape p {
    padding: 10px;
    margin-top: 10px;
    background-color: #f2f2f2;
    margin-bottom: 0px;
}

.dataTables_filter {
    float: right;
    padding-right: 1%;
}

.dataTables_length {
    float: right; 
}

#categoriaDiv {
    position: absolute;
    top: 191px;
}

label#selectCategoria, label#selectSaidaDiv {
    font-weight:normal;
}

#selectCategoria select, #selectSaidaDiv select  {
    height: 28px;
}

#botoesMapa, #botoesRelatorio {
    text-align: center;
    padding: 2%;
    width: 100%;
}
